* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Css */

.header {
    color: #272829;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 15px;
    transition: all ease-in-out 0.3s;
    overflow-y: auto;
    z-index: 997;
    min-width: 200px;
}

@media (max-width: 1199px) {
    .header {
        background-color: white;
        border-right: 1px solid color-mix(in srgb, #272829, transparent 90%);
        width: 300px;
        left: -100%;
    }
}

@media (max-width: 1199px) {
    .header {
        left: -100%;
    }
}

.header.header-show {
    left: 0;
}

.header .header-toggle {
    color: white;
    background-color: #0066FF;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    transition: background-color 0.3s;
}

.header .header-toggle:hover {
    color: white;
    background-color: color-mix(in srgb, #0066FF 90%, white 15%);
}

/* ----- Hero Css ----- */
.hero {
    background-image: url(/img/bg-01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.port-container {
    min-height: 200px;
    overflow-x: hidden;
}

.hero-container {
    height: 100vh;

}

.wrapper {
    display: flex;

    a {
        text-decoration: none;
    }
}

.text-hero {
    background-color: #0066FF;
    padding: 0.5rem 1.3rem;
    border-radius: 2rem;
    color: white;

    span {
        display: flex;
        align-items: center;
    }
}

.hero .social-links {
    margin-top: 25px;
}

.hero .social-links a {
    font-size: 20px;
    display: inline-block;
    color: color-mix(in srgb, color percentage, color percentage);
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
}

.hero .social-links a:hover {
    color: var(--accent-color);
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
    display: inline-block;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.col-lg-9 {
    justify-content: center;
}

.hero-all {
    display: flex;
    align-content: center;
    height: 100%;
}

/* ----- Navigation Menu ----- */

.navmenu {
    padding: 0;
    z-index: 9997;
}

.navmenu ul {
    list-style: none;
    padding: 0 0 20px 0;
    margin: 0;
    width: 140px;
}

.navmenu a,
.navmenu a:focus {
    color: #0066FF;
    font-family: var(--nav-font);
    display: flex;
    align-items: center;
    padding: 10px 18px;
    margin-bottom: 8px;
    font-size: 15px;
    border-radius: 50px;
    background: color-mix(in srgb, var(#E9E9E9), transparent 92%);
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
    text-decoration: none;
}

.navmenu a i,
.navmenu a:focus i {
    font-size: 20px;
}

.navmenu a span,
.navmenu a:focus span {
    padding: 0 5px 0 7px;
}

@media (min-width: 992px) {

    .navmenu a,
    .navmenu a:focus {
        max-width: 56px;
    }

    .navmenu a span,
    .navmenu a:focus span {
        display: none;
    }
}

.navmenu a:hover,
.navmenu .active,
.navmenu .active:focus,
.navmenu li:hover>a {
    color: white;
    background: #0066FF;
}

.navmenu a:hover,
.navmenu li:hover>a {
    max-width: 100%;
    color: white;
}

.navmenu a:hover span,
.navmenu li:hover>a span {
    display: block;
}




/* ----- About Css ----- */

.text-about-lead {
    margin-bottom: 2rem !important;
}

.col-lg-6 ul {
    margin-bottom: 0 !important;
    /* บังคับ override */
}

.col-lg-6 ul {
    list-style-type: none;
}

.col-lg-6 ul li {
    display: flex;
    align-items: center;
}

.col-lg-6 ul li i {
    padding-right: 0.3rem;
}

.col-lg-6 p {
    margin-top: 1rem;
    padding-left: 0.5rem;
}

.icon-about {
    padding: 1rem;
    background-color: #0066FF;
    display: flex;
    justify-content: center;
    border-radius: 5rem;
    height: 5rem;
    width: 5rem;
}

.about-hobbies {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- Skills Section ----- */

.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.skills .progress .skill {
    color: var(--heading-color);
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: var(--heading-font);
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-wrap {
    background: linear-gradient(#E9E9E9);
    height: 10px;
}

.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: var(#0066FF);
}

/* ----- Card Start ----- */
.portfolio .portfolio-filters {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
}

.portfolio .portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    margin: 0 10px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-filters li:hover,
.portfolio .portfolio-filters li.filter-active {
    color: var(--accent-color);
}

.portfolio .portfolio-filters li:first-child {
    margin-left: 0;
}

.portfolio .portfolio-filters li:last-child {
    margin-right: 0;
}

@media (max-width: 575px) {
    .portfolio .portfolio-filters li {
        font-size: 14px;
        margin: 0 5px;
    }
}

.portfolio .portfolio-content {
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-content img {
    transition: 0.3s;
}

.portfolio .portfolio-content .portfolio-info {
    opacity: 0;
    position: absolute;
    inset: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
}

.portfolio .portfolio-content .portfolio-info h4 {
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 400;
    color: #ffffff;
    display: inline-block;
    background-color: var(--accent-color);
}

.portfolio .portfolio-content .portfolio-info p {
    position: absolute;
    bottom: 10px;
    text-align: center;
    display: inline-block;
    left: 0;
    right: 0;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
}

.portfolio .portfolio-content .portfolio-info .preview-link,
.portfolio .portfolio-content .portfolio-info .details-link {
    position: absolute;
    left: calc(50% - 40px);
    font-size: 26px;
    top: calc(50% - 14px);
    color: #fff;
    transition: 0.3s;
    line-height: 1.2;
}

.portfolio .portfolio-content .portfolio-info .preview-link:hover,
.portfolio .portfolio-content .portfolio-info .details-link:hover {
    color: var(--accent-color);
}

.portfolio .portfolio-content .portfolio-info .details-link {
    left: 50%;
    font-size: 34px;
    line-height: 0;
}

.portfolio .portfolio-content:hover .portfolio-info {
    opacity: 1;
}

.portfolio .portfolio-content:hover img {
    transform: scale(1.1);
}

.img-fluid {
    height: 100%;
}

/* ----- Contact Css ----- */
.contact .info-wrap {
    background-color: var(--surface-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

@media (max-width: 575px) {
    .contact .info-wrap {
        padding: 20px;
    }
}

.contact .info-item {
    margin-bottom: 40px;
}

.contact .info-item i {
    font-size: 20px;
    color: var(--accent-color);
    background: color-mix(in srgb, var(--accent-color), transparent 92%);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}

.contact .info-item h3 {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.contact .info-item:hover i {
    background: var(--accent-color);
    color: var(--contrast-color);
}

.contact .php-email-form {
    background-color: var(--surface-color);
    height: 100%;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 575px) {
    .contact .php-email-form {
        padding: 20px;
    }
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    color: var(--default-color);
    background-color: var(--surface-color);
    border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
    border-color:#0066FF;
}

.contact .php-email-form input[type=text]::placeholder,
.contact .php-email-form input[type=email]::placeholder,
.contact .php-email-form textarea::placeholder {
    color: color-mix(in srgb, var(--default-color), transparent 70%);
}

.contact .php-email-form button[type=submit] {
    color: white;
    background: #0066FF;
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 50px;
}

/* ----- Footer Start ----- */
.footer-menu {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.nav-footer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.7rem;
    padding-right: 2rem;
}

.nav-footer li {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
